.container-body {
    background: linear-gradient(30deg, rgba(18, 222, 2, 0.9724264705882353) 2%, rgba(237, 231, 6, 0.9500175070028011) 73%) !important;

}

.movie-poster-container {
    width: auto;
    height: 425px;
}

.description {
    font-weight: 900;
}

.content {
    font-weight: 600;
}